<?xml version="1.0"?>
<!--
The MIT License (MIT)

Copyright (c) 2016 

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->

<!-- TODO: Figure out how to deploy current firmware to remote boards with ROS (or without) -->
<!-- NOTE: The default ros_lib for rosserial requires several modifications:

	~Arduino/libraries/ros_lib/ros.h
		62:   typedef NodeHandle_<ArduinoHardware, 25, 25, 1024, 1024> NodeHandle;

	~Arduino/libraries/ros_lib/ArduinoHardware.h
		81:       baud_ = 115200;

 -->

<launch>
  <arg name="model" default="$(env BOT_MODEL)" />

  <group  if="$(eval arg('model') == 'PATRICKBOT')">
	<node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
		<param name="~port" value="COM4" />
		<param name="~baud" value="115200"/>
		<param name="model" type="string" value="PatrickBot" />
		<param name="~calibrate" type="int" value="0" />
		<param name="~wheelbase" type="double" value="0.4318" />
		<param name="~tread" type="double" value="0.0" />
		<param name="~velocitySlope" type="double" value="1.3683" />
		<!-- Default for a HITEC HS-785HB is 1050-1950 usec full travel -->
		<param name="~steeringOffset" type="double" value="1500" /> <!-- usec of the middle point -->
		<param name="~steeringSlope" type="double" value="1145.915829" /> <!-- usec/rad -->
		<param name="~steeringTravel" type="double" value="0.585398" /> <!-- radians -->
	</node>
  </group>

  <group unless="$(eval arg('model') == 'PATRICKBOT')">
	<node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
		<param name="~port" value="COM4" />
		<param name="~baud" value="115200"/>
		<!-- SpongeBot node parameters -->
		<!-- TODO: Move to a yaml config file -->
		<param name="model" type="string" value="SpongeBot" />
		<param name="calibrate" type="int" value="0" />
		<param name="wheelbase" type="double" value="0.4318" />
		<param name="tread" type="double" value="0.0" />
		<param name="velocitySlope" type="double" value="1.3683" />
		<!-- Default for a HITEC HS-785HB is 1050-1950 usec full travel -->
		<param name="steeringOffset" type="double" value="1500" /> <!-- usec of the middle point -->
		<param name="steeringSlope" type="double" value="1145.915829" /> <!-- usec/rad -->
		<param name="steeringTravel" type="double" value="0.785398" /> <!-- radians -->
		<param name="yawDeclinationAdjust" type="double" value="-0.276286" />
	</node>
  </group>

</launch>