<?xml version="1.0"?>
<!--
The MIT License (MIT)

Copyright (c) 2016 

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->

<?xml version="1.0"?>
<launch>

  <!-- Launch the following nodes: Arduino rosserial, core navigation, SLAM -->
  <include file="$(find pwrs_description)/launch/arduino.launch" />

  <!-- Publish joint states for tf -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
     <param name="/use_gui" value="false"/>
     <param name="/rate" value="20"/>
	 <param name="/source_list/steering" value="true"/>
	 <param name="/publish_default_positions" value="true"/>
	 <param name="/publish_default_velocities" value="true"/>
	 <param name="/publish_default_effort" value="true"/>
  </node>
  
  <!-- Vehicle state published to tf -->
  <!-- Nodes that publish joint state use the model exposed as robot_description -->
  <param name="robot_description" command="$(arg urdf_file)" />  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <param name="publish_frequency" type="double" value="20.0" />
  </node>
	
  <!-- Launch the calibration control script -->
  <node pkg="pwrs_controller" type="calibration.py" name="calibration_script" output="screen" required="true">
    <param name="test_distance" value="5.0" /> <!-- meters -->
    <param name="speed" value="0.3" /> <!-- meters/sec --> 
    <param name="tolerance" value="0.01" /> <!-- meters -->
    <param name="test_variant" value="SPEED_ODOMETRY" />
  </node>
  
</launch>